### Non-version-dependent requirements ###
#opencv3
simplejson
matplotlib
iopath
common
fvcore
av
scikit-video
scipy
PyTube
pandas
matplotlib
wget
numpy
glob2
#----------------------------------------#


#----------------------------------------#
###   Version-dependent requirements   ###
timm==0.4.5 # 0.3.2 does not work in Colab
#----------------------------------------#